@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: hsla(216, 96%, 56%, 1);
  background: linear-gradient(45deg, hsla(216, 96%, 56%, 1) 0%, hsla(178, 64%, 65%, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 500px;
  padding: 30px;
  background: #fff;
}
